__pycache__/
*.py[cod]
.DS_Store
.venv/
venv/
.pytest_cache/
06_dados_e_sessoes/*.sqlite3
06_dados_e_sessoes/*.sqlite3-*
05_ia_visao_computacional/modelos/*
!05_ia_visao_computacional/modelos/.gitkeep
05_ia_visao_computacional/datasets/*
!05_ia_visao_computacional/datasets/.gitkeep
